@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model EducationCenterCRM.MVC.Models.StudentGroupModel

@{
    ViewData["Title"] = Model.Title + " group score sheet";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Teacher
        </dt>
        <dd class="col-sm-10">
            @if (Model.TeacherId != null)
            {
                <a asp-controller="Teachers" asp-action="Details" asp-route-id="@Model.TeacherId">@Model.Teacher.FullName</a>
            }
            else
            {
                @("not defined")
            }
        </dd>

        <dt class="col-sm-2">
            Course
        </dt>
        <dd class="col-sm-10">
            @if (Model.CourseId != null)
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">@Model.Course.Title</a>
            }
            else
            {
                @("not defined")
            }
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Back to group</a>
</div>
<hr />
<div>
    <h4> @Model.Title group marks</h4>

    @await Html.PartialAsync("~/Views/Marks/_MarksOfGroup.cshtml", Model)
</div>

<a asp-action="ExportGroupMarks" asp-route-id="@Model.Id" class="btn btn-info">Download as XLS</a>


