@using EducationCenterCRM.MVC.Models
@model EducationCenterCRM.MVC.Models.MarkModel

@{
    ViewData["Title"] = "Add mark";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Lesson</h4>
</div>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Lesson.LessonDate)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Lesson.LessonDate)
</dd>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Lesson.Group)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Lesson.Group.Title)
</dd>

<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action=AddMarkToLesson>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Student"></label>
                <select class="form-control" asp-for="StudentId">
                    <option value="">Select student...</option>
                    @{
                        if (ViewBag.Students != null && ViewBag.Students.Count > 0)
                        {
                            foreach (var student in (List<StudentModel>)ViewBag.Students)
                            {
                                if (student.Id == Model.StudentId)
                                {
                                    <option value="@student.Id" selected>@student.FullName</option>
                                }
                                else
                                {
                                    <option value="@student.Id">@student.FullName</option>
                                }
                            }
                        }
                        else
                        {
                            <option value="">All student have already got their marks!</option>
                        }
                    }


                </select>
            </div>

            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Add mark" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Lessons" asp-action="Edit" asp-route-id="@Model.LessonId">Back to lesson</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

